#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.logo.soclose {
  height: 10em;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo.soclose {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.authors {
  color: #888;
  margin-bottom: 1rem;
  font-size: 0.9rem;
}

section {
  margin-top: 2rem;
  padding: 1rem;
  background-color: #f2f2f2;
  border-radius: 12px;
  color: #333;
  text-align: left;
}

ul {
  text-align: left;
  padding-left: 1.5rem;
}

h2 {
  color: #213547;
  margin-top: 1rem;
}
